<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Конвертор валют</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="text-center">Курс валют</h2>

                <table class="table text-center">
                    <thead>

                    <tr>
                        <th scope="col">Валюта</th>
                        <th scope="col">Покупка</th>
                        <th scope="col">Продажа</th>

                    </tr>

                    </thead>
                    <tbody>
                    <%if(!data.length){%>
                        <tr>
                            <td>Нет данных!</td>
                        </tr>
                    <%}%>

                    <% for(let i = 0; i < data.length; i++){%>
                    <tr>
                        <th scope="row"><%= data[i].ccy%></th>
                        <td><%= data[i].buy%></td>
                        <td><%= data[i].sale%></td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>

            <div class="col-3">
                <h2 class="text-center">
                    Конвертор валют
                </h2>

                <form>
                    <div class="form-group d-flex">
                        <select class="form-control" id="f">
                            <option value="uah">UAH</option>
                            <option value="usd">USD</option>
                            <option value="eur">EUR</option>
                            <option value="rur">RUR</option>
                            <option value="btc">BTC</option>
                        </select>

                        <select class="form-control" id="t">
                            <option value="uah">UAH</option>
                            <option value="usd" >USD</option>
                            <option value="eur">EUR</option>
                            <option value="rur">RUR</option>
                            <option value="btc">BTC</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="from">From</label>
                        <input type="text" class="form-control" id="from">
                    </div>
                    <div class="form-group">
                        <label for="to">To</label>
                        <input type="text" class="form-control" id="to">
                    </div>

                    <!--
                    <button type="submit" class="btn btn-primary">Submit</button>
                     -->
                </form>
            </div>
        </div>
    </div>

    <script src="/main.js"></script>
</body>
</html>
